@using OSS.Infrastructure.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="app-version" content="@AppInfoUtil.AppVersion" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title> @ViewData["Title"] | OSS.AdminUI </title>

    <partial name="Partails/_HeaderCssPartial" />
</head>
<body>

<section id="oss-root-header">
    @RenderSection("Header", required: false)
</section>
<div id="oss-root-wraper">
    <div class="oss-root-container">
        @RenderBody()
    </div>
</div>

<partial name="Partails/_FooterScriptPartial" />

<section id="oss-root-scripts">
    @RenderSection("Scripts", required: false)
</section>
<script>$(function() { app_start(@(AppInfoUtil.IsDev ? 1 : 0)) })</script>

</body>
</html>